/geonames_accounts.py
/korpus_1000
/miejscowosci_total_crash.json
/miejscowosci_total_1.json
/lematy.txt
/__pycache__
/miejscowosci_dict.json
/miejscowosci_total.json
/miejscowosci_total_filtered.json