/geonames_accounts.py
/korpus_1000
/miejscowosci_total_crash.json
/miejscowosci_total_1.json
/lematy.txt
/__pycache__
/miejscowosci_dict.json
/miejscowosci_total.json
/miejscowosci_total_filtered.json
/korpus_1000_old/
/miejscowosci_dict_2022-07-14.json
/miejscowosci_dict_2022-07-14_old.json
/miejscowosci_total_2022-07-14.json
/miejscowosci_total_2022-07-14_old.json
/miejscowosci_total_filtered_2022-07-14.json
/miejscowosci_total_filtered_2022-07-14_old.json